@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root) {
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:where(body) {
  margin: 0;
}

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  color: inherit;
  height: 0;
}

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

:where(nav li)::before {
  content: "​";
  float: left;
}

:where(pre) {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: monospace, monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
  text-indent: 0;
}

:where(button, input, select) {
  margin: 0;
}

:where(button, [type=button i], [type=reset i], [type=submit i]) {
  -webkit-appearance: button;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  margin: 0;
  resize: vertical;
}

:where([type=search i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where([aria-busy=true i]) {
  cursor: progress;
}

:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}

:where([aria-hidden=false i][hidden]) {
  display: initial;
}

:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

:root {
  --color-white: #FFFFFF;
  --color-white_transparent: #ffffff80;
  --color-gray: #7C7C7C;
  --color-gray_transparent: #7C7C7C80;
  --color-black: #000000;
  --color-red: 163, 15, 15;
  --color-yellowgreen-50: #F7F8EA;
  --color-yellowgreen-100: #E9EBCE;
  --color-yellowgreen-100_transparent: #e9ebceb9;
  --color-yellowgreen-200: #DFE2B8;
  --color-yellowgreen-500: #A9B527;
  --color-yellowgreen-500_transparent: rgba(169, 181, 39, 0.2);
  --font-general: "Zen Maru Gothic", sans-serif;
  --data-header-height: 64px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-general);
  background-color: var(--color-yellowgreen-50);
  color: var(--color-black);
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}

.section .section-tit {
  font-size: 3rem;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .section .section-tit {
    font-size: 1.25rem;
  }
}
.section .section-tit .strong {
  font-weight: 500;
  font-size: 3.75rem;
}
@media screen and (max-width: 1024px) {
  .section .section-tit .strong {
    font-size: 2.5rem;
  }
}
.section .section-desc {
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .section .section-desc {
    font-size: 1rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  padding: 0 4rem 0 2rem;
  background-color: var(--color-white);
}
@media screen and (max-width: 1024px) {
  .header {
    display: none;
  }
}
.header .header-logo img {
  width: auto;
  height: 3rem;
}
.header .header-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.header .header-nav .header-nav-item a {
  color: var(--color-black);
  text-decoration: none;
}

.mobile-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-yellowgreen-50);
  z-index: 99998;
}
@media screen and (max-width: 1024px) {
  .mobile-header {
    display: block;
  }
}
.mobile-header .mobile-headline {
  background-color: var(--color-white);
  position: fixed;
  width: 100%;
  height: var(--data-header-height);
  top: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-header .mobile-headline .mobile-logo {
  height: var(--data-header-height);
  width: calc(100% - 64px);
  line-height: var(--data-header-height);
  padding-left: 1rem;
}
.mobile-header .mobile-headline .mobile-logo img {
  width: 130px;
  height: auto;
}
.mobile-header .mobile-headline .mobile-btn {
  width: 64px;
  height: 64px;
  background-color: var(--color-yellowgreen-500);
  cursor: pointer;
}
.mobile-header .mobile-headline .mobile-btn .hum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 12px;
}
.mobile-header .mobile-headline .mobile-btn .hum .line {
  width: 65%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 2px;
}
.mobile-header .mobile-body {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: var(--data-header-height);
  height: calc(100vh - var(--data-header-height));
}
.mobile-header .mobile-body .mobile-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mobile-header .mobile-body .mobile-nav .nav-item {
  width: 90vw;
  height: 4rem;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mobile-header .mobile-body .mobile-nav .nav-item a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.25rem;
  font-weight: 500;
}
.mobile-header .mobile-decoration::after {
  content: "";
  position: fixed;
  display: block;
  bottom: -4px;
  left: 10vw;
  width: 155px;
  height: 170px;
  background-image: url(../../asetts/images/tree.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .mobile-header .mobile-decoration::after {
    height: 130px;
    width: 120px;
  }
}

.top {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../asetts/images/top-view.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 4rem;
}
@media screen and (max-width: 1024px) {
  .top {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-position: -4rem 0;
    padding: 0 1rem 0 5rem;
  }
}
@media screen and (max-width: 512px) {
  .top {
    align-items: center;
    padding-left: 1rem;
  }
}
.top .top-slogan {
  font-family: "Sawarabi Mincho", sans-serif;
}
.top .top-slogan .slogan-tit {
  margin-bottom: 4rem;
  color: var(--color-white);
}
@media screen and (max-width: 1024px) {
  .top .top-slogan .slogan-tit {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 512px) {
  .top .top-slogan .slogan-tit {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
.top .top-slogan .slogan-desc {
  color: var(--color-white);
}
@media screen and (max-width: 1024px) {
  .top .top-slogan .slogan-desc {
    font-size: 2rem;
  }
}
@media screen and (max-width: 512px) {
  .top .top-slogan .slogan-desc {
    line-height: 1.8;
    font-size: 1.25rem;
  }
}
.top .top-slogan .slogan-desc br {
  display: block;
}
@media screen and (max-width: 1024px) {
  .top .top-feature .feature-point {
    display: none;
  }
}
.top .top-feature .feature-point:last-child {
  margin-top: 2rem;
}
.top .top-feature .feature-point .feature-point-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.top .top-feature .feature-point .feature-point-row .point {
  width: 120px;
  height: 120px;
  margin: 2rem;
  border-radius: 50%;
  background-color: var(--color-yellowgreen-100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 0 25px 25px var(--color-yellowgreen-100);
  position: relative;
}
.top .top-feature .feature-point .feature-point-row .point br {
  display: block;
}
.top .top-feature .feature-point .feature-point-row .point.point-1::before, .top .top-feature .feature-point .feature-point-row .point.point-2::before, .top .top-feature .feature-point .feature-point-row .point.point-3::before {
  display: block;
  position: absolute;
  width: 85px;
  height: 40px;
  background-color: var(--color-white_transparent);
  top: -0.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-black);
}
.top .top-feature .feature-point .feature-point-row .point.point-1::before {
  content: "Point 1";
  left: -2rem;
}
.top .top-feature .feature-point .feature-point-row .point.point-2::before {
  content: "Point 2";
  left: -2rem;
}
.top .top-feature .feature-point .feature-point-row .point.point-3::before {
  content: "Point 3";
  right: -2rem;
}
.top .top-feature .feature-nav {
  background-color: var(--color-yellowgreen-500);
  width: 350px;
  height: 60px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
}
@media screen and (max-width: 800px) {
  .top .top-feature .feature-nav {
    width: 250px;
    height: 50px;
    border-radius: 18px;
  }
}
.top .top-feature .feature-nav a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  width: max-content;
}
.top .top-feature .feature-nav img {
  position: absolute;
  bottom: 50%;
  right: 2rem;
  transform: translateY(50%);
  width: 20px;
  height: 20px;
  display: block;
  width: max-content;
}

.explanation {
  background-color: var(--color-yellowgreen-50);
}
.explanation .explanation-text {
  padding-top: 2rem;
}
.explanation .explanation-text .explanation-text-tit {
  text-align: center;
}
.explanation .explanation-text .explanation-text-tit .strong {
  margin-right: -1rem;
}
.explanation .explanation-text .explanation-text-desc {
  margin-top: 0.8rem;
  text-align: center;
}
.explanation .explanation-induction {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .explanation .explanation-induction {
    margin-bottom: 1rem;
  }
}
.explanation .explanation-induction::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../../asetts/images/arrow-symbol.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.5rem auto 0;
}
@media screen and (max-width: 1024px) {
  .explanation .explanation-induction::after {
    width: 20px;
    height: 30px;
  }
}
.explanation .explanation-card .card[open] .card-headline img {
  transform: rotate(90deg);
}
.explanation .explanation-card .card[close] .card-headline img {
  transform: rotate(90deg);
}
.explanation .explanation-card .card {
  width: 70vw;
  margin: 0.75rem auto 0;
}
@media screen and (max-width: 1024px) {
  .explanation .explanation-card .card {
    width: 90vw;
  }
}
.explanation .explanation-card .card .card-headline {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--color-yellowgreen-100);
  border-radius: 7px;
  overflow: hidden;
}
.explanation .explanation-card .card .card-headline .headline-text {
  font-size: 1.25rem;
}
.explanation .explanation-card .card .card-headline .headline-text .num {
  font-size: 1.5rem;
}
.explanation .explanation-card .card .card-headline img {
  width: 30px;
  height: 30px;
  transform: rotate(270deg);
}
@media screen and (max-width: 1024px) {
  .explanation .explanation-card .card .card-headline img {
    width: 20px;
    height: 20px;
  }
}
.explanation .explanation-card .card .card-content {
  background-color: var(--color-white);
  border-radius: 0 0 7px 7px;
  padding: 1rem 1rem 2rem 1rem;
}
.explanation .explanation-card .card .card-content.content-1 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 1024px) {
  .explanation .explanation-card .card .card-content.content-1 {
    flex-direction: column;
  }
}
.explanation .explanation-card .card .card-content.content-1 .content-text {
  width: 40%;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1024px) {
  .explanation .explanation-card .card .card-content.content-1 .content-text {
    width: 100%;
  }
}
.explanation .explanation-card .card .card-content.content-1 .content-text p {
  margin: 0;
}
.explanation .explanation-card .card .card-content.content-1 .content-text p br {
  display: block;
}
.explanation .explanation-card .card .card-content.content-1 .content-text ul {
  list-style: none;
  padding-left: 0.25rem;
}
.explanation .explanation-card .card .card-content.content-1 .content-text ul li::before {
  content: "・";
}
.explanation .explanation-card .card .card-content.content-1 .content-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .explanation .explanation-card .card .card-content.content-1 .content-img {
    width: 50%;
    margin-left: 50%;
  }
}
.explanation .explanation-card .card .card-content.content-1 .content-img img {
  width: 50%;
  height: auto;
}
.explanation .explanation-card .card .card-content.content-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 512px) {
  .explanation .explanation-card .card .card-content.content-2 {
    flex-direction: column;
  }
}
.explanation .explanation-card .card .card-content.content-2 .content-item {
  width: calc(49% - 1rem);
  padding: 1rem 2rem 1rem 1rem;
  position: relative;
}
@media screen and (max-width: 512px) {
  .explanation .explanation-card .card .card-content.content-2 .content-item {
    width: 90%;
  }
}
.explanation .explanation-card .card .card-content.content-2 .content-item:last-child {
  padding: 1rem 1rem 1rem 2rem;
}
.explanation .explanation-card .card .card-content.content-2 .content-item:last-child::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 80%;
  opacity: 0.5;
  background-color: var(--color-gray);
}
@media screen and (max-width: 512px) {
  .explanation .explanation-card .card .card-content.content-2 .content-item:last-child::before {
    display: none;
  }
}
.explanation .explanation-card .card .card-content.content-2 .content-item:last-child::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  opacity: 0.5;
  background-color: var(--color-gray);
}
@media screen and (max-width: 512px) {
  .explanation .explanation-card .card .card-content.content-2 .content-item:last-child::after {
    display: block;
  }
}
.explanation .explanation-card .card .card-content.content-2 .content-item .item-img {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explanation .explanation-card .card .card-content.content-2 .content-item .item-img img {
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
}
.explanation .explanation-card .card .card-content.content-2 .content-item .item-text p .tit {
  display: block;
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.explanation .explanation-card .card .card-content.content-2 .content-item .item-text p br {
  display: block;
}
.explanation .explanation-decoration {
  width: 100%;
  height: 15rem;
  position: relative;
}
.explanation .explanation-decoration img {
  position: absolute;
  left: 4rem;
  bottom: -5px;
}

.narration .narration-body {
  height: 50vw;
  background-image: url(../../asetts/images/narration.png);
  background-size: cover;
  background-position: center;
  padding: 2rem 6rem 0 6rem;
}
@media screen and (max-width: 1024px) {
  .narration .narration-body {
    height: 60vw;
    padding: 1rem;
  }
}
@media screen and (max-width: 512px) {
  .narration .narration-body {
    height: 120vw;
  }
}
.narration .narration-body .body-tit {
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.75;
}
@media screen and (max-width: 1280px) {
  .narration .narration-body .body-tit {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 1024px) {
  .narration .narration-body .body-tit {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 512px) {
  .narration .narration-body .body-tit {
    font-size: 1.11rem;
  }
}
.narration .narration-body .body-tit br {
  display: block;
}
.narration .narration-bubble {
  width: 70%;
  margin: -20rem auto 0;
}
@media screen and (min-width: 1280px) {
  .narration .narration-bubble {
    margin-top: -25vw;
  }
}
@media screen and (max-width: 1024px) {
  .narration .narration-bubble {
    width: 85vw;
    margin-top: -35vw;
  }
}
@media screen and (max-width: 512px) {
  .narration .narration-bubble {
    margin-top: -70vw;
  }
}
.narration .narration-bubble .overlap {
  background-image: linear-gradient(to bottom, var(--color-yellowgreen-100_transparent), var(--color-yellowgreen-100));
  border-radius: 1rem 1rem 0 0;
}
@media screen and (min-width: 1280px) {
  .narration .narration-bubble .overlap {
    padding-top: 3vw;
  }
}
.narration .narration-bubble .overlap .bubble-list {
  padding-top: 1rem;
  list-style: none;
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .narration .narration-bubble .overlap .bubble-list {
    width: 90%;
    padding: 1rem 1rem 0;
  }
}
.narration .narration-bubble .overlap .bubble-list .bubble-item {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .narration .narration-bubble .overlap .bubble-list .bubble-item {
    margin-top: 0.8rem;
    font-size: 1rem;
  }
}
.narration .narration-bubble .overlap .bubble-list .bubble-item span {
  width: calc(100% - 30px);
}
.narration .narration-bubble .overlap .bubble-list .bubble-item::before {
  content: "";
  display: block;
  background-image: url(../../asetts/images/check.png);
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
  width: 30px;
  height: 25px;
}
@media screen and (max-width: 1024px) {
  .narration .narration-bubble .overlap .bubble-list .bubble-item::before {
    width: 25px;
    height: 20px;
  }
}
.narration .narration-bubble .overlap .bubble-target {
  text-align: center;
  font-size: 1.25em;
  margin: 3rem 0 0 0;
  border-bottom: 1px solid var(--color-gray_transparent);
}
@media screen and (min-width: 1280px) {
  .narration .narration-bubble .overlap .bubble-target {
    padding-bottom: 3vw;
  }
}
@media screen and (max-width: 1024px) {
  .narration .narration-bubble .overlap .bubble-target {
    border-bottom: none;
  }
}
.narration .narration-bubble .overlap .bubble-target .highlight {
  position: relative;
}
.narration .narration-bubble .overlap .bubble-target .highlight:before {
  content: "";
  position: absolute;
  display: block;
  bottom: calc(0.1rem + 4px);
  left: 0;
  width: 90%;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(var(--color-red), 0.4);
}
.narration .narration-bubble .bubble-solution {
  background-color: var(--color-yellowgreen-100);
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;
  margin-top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 0 0 1rem 1rem;
}
.narration .narration-bubble .bubble-solution br {
  display: none;
}
@media screen and (max-width: 1024px) {
  .narration .narration-bubble .bubble-solution br {
    display: block;
  }
}
.narration .narration-bubble .bubble-solution::after {
  content: "";
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 40px solid var(--color-yellowgreen-100);
  width: 0;
  height: 0;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}
.narration .narration-bubble .bubble-solution .strong {
  font-size: 1.75em;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .narration .narration-bubble .bubble-solution .strong {
    font-size: 1.25rem;
  }
}

.points {
  padding-top: 5rem;
  width: 100%;
  overflow: hidden;
}
.points .point-tit {
  text-align: center;
  margin-bottom: 4rem;
}
.points .point-tit .strong {
  line-height: 1.5;
}
.points .point-tit .strong br {
  display: none;
}
@media screen and (max-width: 1024px) {
  .points .point-tit .strong br {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .points .point-tit .conjunction {
    display: none;
  }
}
.points .point-list {
  width: 80vw;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .points .point-list {
    width: 95vw;
  }
}
.points .point-list .point-item {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item {
    flex-direction: column;
    gap: 1rem;
  }
}
.points .point-list .point-item.item-1_bg .point-text .point-desc::before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 260px;
  height: 170px;
  background-image: url(../../asetts/images/point/decoration-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item.item-1_bg .point-text .point-desc::before {
    display: none;
  }
}
.points .point-list .point-item.item-3_bg .point-text .point-desc::before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  right: 20px;
  width: 220px;
  height: 160px;
  background-image: url(../../asetts/images/point/decoration-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item.item-3_bg .point-text .point-desc::before {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item.item-2_bg {
    flex-direction: column-reverse;
  }
}
.points .point-list .point-item.item-2_bg::before {
  position: absolute;
  top: -20%;
  left: -25%;
  content: "";
  display: block;
  width: 150%;
  height: 450px;
  background-color: var(--color-yellowgreen-100);
  rotate: 355deg;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item.item-2_bg::before {
    display: none;
  }
}
.points .point-list .point-item .point-img {
  width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item .point-img {
    width: 90vw;
  }
}
.points .point-list .point-item .point-img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item .point-img img {
    height: 50vw;
    object-fit: cover;
    margin-bottom: 1rem;
  }
}
.points .point-list .point-item .point-text {
  width: calc(80vw - 400px - 4rem);
  text-align-last: left;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item .point-text {
    width: 95vw;
  }
}
.points .point-list .point-item .point-text .point-headline {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item .point-text .point-headline {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
}
.points .point-list .point-item .point-text .point-headline.item-1::before, .points .point-list .point-item .point-text .point-headline.item-2::before, .points .point-list .point-item .point-text .point-headline.item-3::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -60px;
  z-index: -1;
  display: block;
  width: 230px;
  height: 95px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item .point-text .point-headline.item-1::before, .points .point-list .point-item .point-text .point-headline.item-2::before, .points .point-list .point-item .point-text .point-headline.item-3::before {
    top: -40px;
    left: -40px;
    width: 150px;
    height: 60px;
  }
}
.points .point-list .point-item .point-text .point-headline.item-1::before {
  background-image: url(../../asetts/images/point/point-1.svg);
}
.points .point-list .point-item .point-text .point-headline.item-2::before {
  background-image: url(../../asetts/images/point/point-2.svg);
}
.points .point-list .point-item .point-text .point-headline.item-3::before {
  background-image: url(../../asetts/images/point/point-3.svg);
}
.points .point-list .point-item .point-text .point-desc {
  font-size: 1.25rem;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .points .point-list .point-item .point-text .point-desc {
    font-size: 1rem;
  }
}
.points .point-list .point-item .point-text .point-desc br {
  display: block;
}
.points .point-nav {
  margin: 0 auto;
  width: max-content;
  position: relative;
}
.points .point-nav .nav-btn {
  background-color: var(--color-yellowgreen-500);
  width: 350px;
  height: 60px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
}
@media screen and (max-width: 1024px) {
  .points .point-nav .nav-btn {
    width: 250px;
    height: 50px;
    border-radius: 15px;
  }
}
.points .point-nav .nav-btn .btn-text {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  width: max-content;
}
.points .point-nav .nav-btn img {
  position: absolute;
  bottom: 50%;
  right: 2rem;
  transform: translateY(50%);
  width: 20px;
  height: 20px;
  display: block;
  width: max-content;
}
.points .point-nav .arrow {
  display: block;
  width: max-content;
  margin: 7rem auto 0;
  padding-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
  .points .point-nav .arrow img {
    width: 26px;
    height: 20px;
  }
}
.points .point-nav::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  right: -20vw;
  width: 155px;
  height: 170px;
  background-image: url(../../asetts/images/tree.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .points .point-nav::after {
    height: 130px;
    width: 120px;
    right: -10vw;
  }
}

.intro {
  background-color: var(--color-white);
  padding-top: 2rem;
}
.intro .intro-tit {
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1024px) {
  .intro .intro-tit {
    margin-bottom: 2rem;
  }
}
.intro .intro-tit .strong {
  line-height: 1.5;
}
.intro .intro-card .card-tit {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-tit {
    font-size: 1.5rem;
  }
}
.intro .intro-card .card-tit .highlight {
  position: relative;
}
.intro .intro-card .card-tit .highlight::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: -6%;
  width: 126%;
  height: 16px;
  border-radius: 16px;
  background-color: var(--color-yellowgreen-500_transparent);
}
.intro .intro-card .card-design {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-top: 3rem;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-design {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-design {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
.intro .intro-card .card-design .design-img img {
  width: 500px;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-design .design-img img {
    width: 90vw;
    height: 50vw;
    object-fit: cover;
    object-position: 0 -60px;
  }
}
.intro .intro-card .card-design .design-text {
  padding: 1rem 1rem 6rem 1rem;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-design .design-text {
    padding: 1rem 0;
  }
}
.intro .intro-card .card-design .design-text .design-text-tit {
  font-size: 1.75rem;
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-design .design-text .design-text-tit {
    font-size: 1.5rem;
  }
}
.intro .intro-card .card-design .design-text .design-text-tit::before {
  content: "";
  display: block;
  position: absolute;
  top: -90px;
  left: -90px;
  width: 200px;
  height: 142px;
  background-image: url(../../asetts/images/intro/point.png);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-design .design-text .design-text-tit::before {
    display: none;
  }
}
.intro .intro-card .card-design .design-text .design-text-desc {
  font-size: 1.1rem;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-design .design-text .design-text-desc {
    font-size: 1rem;
  }
}
.intro .intro-card .card-design .design-text .design-text-desc br {
  display: block;
}
.intro .intro-card .card-price {
  width: 50vw;
  margin-top: -100px;
  margin-left: 40vw;
  background-color: var(--color-yellowgreen-50);
  position: relative;
  border-radius: 1rem;
  padding: 2rem 3rem 3rem 3rem;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-price {
    width: 90vw;
    margin: 1rem auto 0;
    padding: 1rem;
  }
}
.intro .intro-card .card-price .price-tit {
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
  margin-top: 0;
}
.intro .intro-card .card-price img.price-img {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-price img.price-img {
    display: none;
  }
}
.intro .intro-card .card-price .price-desc {
  max-width: 70%;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-price .price-desc {
    font-size: 1rem;
    max-width: 100%;
    font-weight: 400;
  }
}
.intro .intro-card .card-price .price-value {
  font-weight: 500;
  font-size: 1.25rem;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-price .price-value {
    font-size: 1.1rem;
  }
}
.intro .intro-card .card-price .price-value .value-limited {
  display: block;
}
.intro .intro-card .card-price .price-value .value-normal {
  color: var(--color-gray);
  text-decoration: line-through;
}
.intro .intro-card .card-price .price-nav {
  background-color: var(--color-yellowgreen-500);
  width: 250px;
  height: 50px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-price .price-nav {
    width: 200px;
    height: 40px;
    border-radius: 10px;
  }
}
.intro .intro-card .card-price .price-nav .nav-btn {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  display: block;
  width: max-content;
}
.intro .intro-card .card-price .price-nav img {
  position: absolute;
  bottom: 50%;
  right: 1rem;
  transform: translateY(50%);
  width: 20px;
  height: 20px;
  display: block;
  width: max-content;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .card-price .price-nav img {
    width: 13px;
    height: 13px;
  }
}
.intro .intro-card .intro-decoration {
  padding: 4rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .intro-decoration {
    padding-top: 6rem;
  }
}
.intro .intro-card .intro-decoration img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .intro-decoration img {
    width: 26px;
    height: 20px;
  }
}
.intro .intro-card .intro-decoration::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 10vw;
  width: 155px;
  height: 170px;
  background-image: url(../../asetts/images/tree.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .intro .intro-card .intro-decoration::after {
    width: 120px;
    height: 130px;
  }
}

.process .process-tit {
  text-align: center;
  line-height: 1.5;
}
.process .process-body .process-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid {
    flex-direction: column;
    gap: 0;
  }
}
.process .process-body .process-grid:last-child {
  margin-top: 7rem;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid:last-child {
    margin-top: 0;
  }
}
.process .process-body .process-grid .process-grid-item {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid var(--color-yellowgreen-500);
  background-color: var(--color-white);
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid .process-grid-item {
    margin-top: 5rem;
    width: 70vw;
    height: 70vw;
  }
}
.process .process-body .process-grid .process-grid-item.item-1::before {
  background-image: url(../../asetts/images/process/step-1.svg);
}
.process .process-body .process-grid .process-grid-item.item-1::after {
  background-image: url(../../asetts/images/arrow-bottom.svg);
  top: 45%;
  left: 110%;
  rotate: -90deg;
}
.process .process-body .process-grid .process-grid-item.item-2::before {
  background-image: url(../../asetts/images/process/step-2.svg);
}
.process .process-body .process-grid .process-grid-item.item-2::after {
  background-image: url(../../asetts/images/arrow-bottom.svg);
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
}
.process .process-body .process-grid .process-grid-item.item-3::before {
  background-image: url(../../asetts/images/process/step-3.svg);
}
.process .process-body .process-grid .process-grid-item.item-3::after {
  background-image: url(../../asetts/images/arrow-bottom.svg);
  right: 110%;
  top: 45%;
  rotate: 90deg;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid .process-grid-item.item-3::after {
    background-image: none;
  }
}
.process .process-body .process-grid .process-grid-item.item-4::before {
  background-image: url(../../asetts/images/process/step-4.svg);
}
.process .process-body .process-grid .process-grid-item.item-4::after {
  background-image: url(../../asetts/images/arrow-bottom.svg);
  display: none;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid .process-grid-item.item-4::after {
    display: block;
  }
}
.process .process-body .process-grid .process-grid-item.item-1::before, .process .process-body .process-grid .process-grid-item.item-2::before, .process .process-body .process-grid .process-grid-item.item-3::before, .process .process-body .process-grid .process-grid-item.item-4::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -40px;
  left: -40px;
  width: 190px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid .process-grid-item.item-1::before, .process .process-body .process-grid .process-grid-item.item-2::before, .process .process-body .process-grid .process-grid-item.item-3::before, .process .process-body .process-grid .process-grid-item.item-4::before {
    width: 150px;
    height: 60px;
    top: -20px;
    left: -40px;
  }
}
.process .process-body .process-grid .process-grid-item.item-1::after, .process .process-body .process-grid .process-grid-item.item-2::after, .process .process-body .process-grid .process-grid-item.item-3::after, .process .process-body .process-grid .process-grid-item.item-4::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid .process-grid-item.item-1::after, .process .process-body .process-grid .process-grid-item.item-2::after, .process .process-body .process-grid .process-grid-item.item-3::after, .process .process-body .process-grid .process-grid-item.item-4::after {
    width: 30px;
    height: 30px;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    rotate: 0deg;
  }
}
.process .process-body .process-grid .process-grid-item .item-tit {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}
.process .process-body .process-grid .process-grid-item .item-img {
  margin-top: 2rem;
  max-height: 100px;
  width: 200px;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid .process-grid-item .item-img {
    width: 50%;
  }
}
.process .process-body .process-grid .process-grid-item .item-img img {
  width: 100%;
  height: auto;
}
.process .process-body .process-grid .process-grid-item .item-img .item-1 {
  margin-top: 3rem;
  width: 120%;
}
.process .process-body .process-grid .process-grid-item .item-desc {
  position: absolute;
  bottom: 3rem;
  width: 250px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid .process-grid-item .item-desc {
    font-size: 0.9rem;
    width: 200px;
    bottom: 10%;
  }
}
.process .process-body .process-grid .process-grid-item .item-desc ul {
  list-style: none;
  text-align-last: left;
  width: 350px;
  margin-left: -3rem;
}
@media screen and (max-width: 1024px) {
  .process .process-body .process-grid .process-grid-item .item-desc ul {
    width: 250px;
    padding-left: 0;
    margin-left: 1rem;
  }
}
.process .process-body .process-grid .process-grid-item .item-desc ul li::before {
  content: "・";
}
.process .process-decoration {
  height: 10rem;
  position: relative;
}
.process .process-decoration::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 10vw;
  width: 155px;
  height: 170px;
  background-image: url(../../asetts/images/tree.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .process .process-decoration::after {
    width: 120px;
    height: 130px;
  }
}

.voice {
  background-color: var(--color-white);
  padding-top: 2rem;
}
.voice .voice-tit {
  text-align: center;
  line-height: 1.5;
}
.voice .voice-container {
  width: max-content;
  margin: 0 auto;
}
.voice .voice-container .voice-grid {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid {
    flex-direction: column;
    gap: 2rem;
  }
}
.voice .voice-container .voice-grid .grid-item {
  width: 550px;
  height: 325px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--color-yellowgreen-50);
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item {
    width: 90vw;
    height: 51vw;
  }
}
.voice .voice-container .voice-grid .grid-item .item-company {
  font-size: 0.75rem;
  z-index: 2;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item .item-company {
    font-size: 0.5rem;
  }
}
.voice .voice-container .voice-grid .grid-item .item-body {
  z-index: 2;
  position: absolute;
  top: 4rem;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item .item-body {
    top: 2rem;
  }
}
.voice .voice-container .voice-grid .grid-item .item-body .item-post {
  color: var(--color-gray);
  font-size: 0.9rem;
  margin: 0 0 -6px 10%;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item .item-body .item-post {
    font-size: 0.6rem;
    margin-left: 5%;
  }
}
.voice .voice-container .voice-grid .grid-item .item-body .item-author {
  display: flex;
  gap: 1rem;
  margin-left: 10%;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item .item-body .item-author {
    margin-left: 5%;
  }
}
.voice .voice-container .voice-grid .grid-item .item-body .item-author .author-intro {
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item .item-body .item-author .author-intro {
    width: max-content;
  }
}
.voice .voice-container .voice-grid .grid-item .item-body .item-author .author-intro .author-name {
  font-size: 1.75rem;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item .item-body .item-author .author-intro .author-name {
    font-size: 1.25rem;
  }
}
.voice .voice-container .voice-grid .grid-item .item-body .item-author .author-intro .author-img {
  width: 180px;
  height: 170px;
  overflow: hidden;
  border-radius: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item .item-body .item-author .author-intro .author-img {
    width: 100px;
    height: 90px;
  }
}
.voice .voice-container .voice-grid .grid-item .item-body .item-author .author-intro .author-img img {
  width: 100%;
  height: auto;
}
.voice .voice-container .voice-grid .grid-item .item-body .item-author .author-desc {
  font-size: 0.9rem;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .voice-grid .grid-item .item-body .item-author .author-desc {
    font-size: 0.75rem;
    width: 60%;
  }
}
.voice .voice-container .voice-grid .grid-item .item-body .item-author .author-desc br {
  display: block;
}
.voice .voice-container .voice-grid .grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32rem;
  width: 200%;
  height: 350px;
  background-color: var(--color-yellowgreen-100);
  rotate: -420deg;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .read-more .voice-grid {
    display: none;
  }
}
.voice .voice-container .read-more .more-btn {
  display: none;
  color: var(--color-yellowgreen-500);
  text-decoration: underline;
  text-align: center;
  margin-top: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .voice .voice-container .read-more .more-btn {
    display: block;
  }
}
.voice .voice-decoration {
  height: 15rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .voice .voice-decoration {
    height: 10rem;
  }
}
.voice .voice-decoration img {
  position: absolute;
  bottom: -5px;
  right: 20vw;
}
@media screen and (max-width: 1024px) {
  .voice .voice-decoration img {
    width: 120px;
    height: 130px;
    right: 10vw;
  }
}

.footer {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-yellowgreen-500);
}
.footer .footer-container .footer-text {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-white);
}

/*# sourceMappingURL=index.css.map */
