:root {
    --color-white: #FFFFFF;
    --color-white_transparent: #ffffff80;
    --color-gray: #7C7C7C;
    --color-gray_transparent: #7C7C7C80;
    --color-black: #000000;
    --color-red: 163, 15, 15;

    --color-yellowgreen-50: #F7F8EA;
    --color-yellowgreen-100: #E9EBCE;
    --color-yellowgreen-100_transparent: #e9ebceb9;
    --color-yellowgreen-200: #DFE2B8;
    --color-yellowgreen-500: #A9B527;
    --color-yellowgreen-500_transparent: rgba(169, 181, 39, 0.2);

    --font-general: "Zen Maru Gothic", sans-serif;

    --data-header-height: 64px;
}
