.narration {
    .narration-body {
        height: 50vw;
        background-image: url(../../asetts/images/narration.png);
        background-size: cover;
        background-position: center;
        padding: 2rem 6rem 0 6rem;

        @media screen and (max-width: 1024px) {
            height: 60vw;
            padding: 1rem;
        }
        @media screen and (max-width: 512px) {
            height: 120vw;
        }

        .body-tit {
            color: var(--color-white);
            font-weight: 500;
            letter-spacing: 0.1rem;
            line-height: 1.75;
            @media screen and (max-width: 1280px) {
                font-size: 1.75rem;
            }
            @media screen and (max-width: 1024px) {
                margin: 1rem 0;
                font-size: 1.5rem;
            }
            @media screen and (max-width: 512px) {
                font-size: 1.11rem;
            }

            br {
                display: block;
            }
        }
    }
    .narration-bubble {
        width: 70%;
        margin: -20rem auto 0;
        @media screen and (min-width: 1280px) {
            margin-top: -25vw;
        }
        @media screen and (max-width: 1024px) {
            width: 85vw;
            margin-top: -35vw;
        }
        @media screen and (max-width: 512px) {
            margin-top: -70vw;
        }

        .overlap {
            background-image: linear-gradient(to bottom, var(--color-yellowgreen-100_transparent), var(--color-yellowgreen-100));
            border-radius: 1rem 1rem 0 0;

            @media screen and (min-width: 1280px) {
                padding-top: 3vw;
            }

            .bubble-list {
                padding-top: 1rem;
                list-style: none;
                width: 60%;
                margin: 0 auto;
                @media screen and (max-width: 1024px) {
                    width: 90%;
                    padding: 1rem 1rem 0;
                }

                .bubble-item {
                    width: 100%;
                    font-size: 1.1rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1.5rem;
                    @media screen and (max-width: 1024px) {
                        margin-top: 0.8rem;
                        font-size: 1rem;
                    }

                    span {
                        width: calc(100% - 30px);
                    }

                    &::before {
                        content: "";
                        display: block;
                        background-image: url(../../asetts/images/check.png);
                        background-size: cover;
                        background-position: center;
                        margin-right: 1.5rem;
                        width: 30px;
                        height: 25px;

                        @media screen and (max-width: 1024px) {
                            width: 25px;
                            height: 20px;
                        }
                    }
                }
            }
            .bubble-target {
                text-align: center;
                font-size: 1.25em;
                margin: 3rem 0 0 0;
                border-bottom: 1px solid var(--color-gray_transparent);

                @media screen and (min-width: 1280px) {
                    padding-bottom: 3vw;
                }
                @media screen and (max-width: 1024px) {
                    border-bottom: none;
                }

                .highlight {
                    position: relative;

                    &:before {
                        $highlight-height: 4px;

                        content: "";
                        position: absolute;
                        display: block;
                        bottom: calc(0.1rem + $highlight-height);
                        left: 0;
                        width: 90%;
                        height: $highlight-height;
                        border-radius: $highlight-height;
                        background-color: rgba(var(--color-red), 0.4);
                    }
                }
            }
        }
        .bubble-solution {
            background-color: var(--color-yellowgreen-100);
            padding: 1rem 1rem 2rem 1rem;
            text-align: center;
            margin-top: 0;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            position: relative;
            border-radius: 0 0 1rem 1rem;

            br {
                display: none;

                @media screen and (max-width: 1024px) {
                    display: block;
                }
            }

            &::after {
                content: "";
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);
                border-top: 40px solid var(--color-yellowgreen-100);
                width: 0;
                height: 0;
                filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
            }

            .strong {
                font-size: 1.75em;
                font-weight: 500;
                @media screen and (max-width: 1024px) {
                    font-size: 1.25rem;
                }
            }
        }
    }
}
